{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'campus.campus' | trans | nl2br }}<br/></div>
{% endblock %}

{% block content %}
    {{ block('base_campus','campus/base_campus.html.twig') }}

    <div class="title"> </div>
{% endblock %}