{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'campus.campus' | trans | nl2br }}<br/></div>
    <div class="navDescription margin-30">{{ navigation_description | nl2br }}</div>
{% endblock %}

{% block content %}


    <div class="section-content">
        <div class="title">{{ 'campus.sponsors' | trans }}</div>
        <div class="margin-20"></div>

        <div class="container">

                    <div class="tinyDivider"></div>
                    <div class="margin-20"></div>
                    <div class="blockCards" data-aos="fade-up">
                        {% for sponsor in sponsors %}
                        <div class="cardContainer smallCard center">
                            {% with {'img_src':  asset(sponsors_path ~ '/' ~  sponsor.image | url_encode),
                                'title' : sponsor.getName(lang),
                                'subtitle':sponsor.getSection(lang),
                                'description':sponsor.getOffer(lang),
                                'imageWidth': 200} %}
                                {{ block('small_card', 'common/small_card.html.twig') }}
                            {% endwith %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="margin-20"></div>


            <div class="margin-40"></div>
        </div>

    </div>
{% endblock %}

