/*                                                    COMMON                                        */

html, body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    position: relative;
}

.padding-10 {
    padding-top: 10px;
}
.padding-20 {
    padding-top: 20px;
}
.padding-30 {
    padding-top: 30px;
}
.padding-40 {
    padding-top: 40px;
}

.margin-10 {
    margin-top: 10px;
}
.margin-20 {
    margin-top: 20px;
}
.margin-30 {
    margin-top: 30px;
}
.margin-40 {
    margin-top: 40px;
}
.margin-60 {
    margin-top: 60px;
}

.title {
    font-weight: 800;
    text-align: center;
    font-size: 1.3em;
}
.subtitle {
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
}

.cardContainer {
    background-color: white;
    position: relative;
    display: block;
    border-radius: 10px;
    min-height: 100px;
    color: #0C2340;
    min-width: 100px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.1);
    box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.1);
}

.roundedGreenButton, .roundedBlueButton, .roundedWhiteButton, .roundedBorderedWhiteButton, .roundedBorderedBlackButton{
    display: inline-block;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 45px !important;
    min-width: 150px !important;
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
}

.roundedGreenButton:hover, .roundedBlueButton:hover, .roundedWhiteButton:hover,.roundedBorderedWhiteButton:hover,.roundedBorderedBlackButton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.roundedBorderedWhiteButton {
    display: block;
    background-color: white;
    color: #0C2340;
    border: 1px solid #0C2340;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding-top: 0px;
}

.roundedBorderedBlackButton {
    display: block;
    background-color: #0C2340;
    color: white;
    border: 1px solid #0C2340;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding-top: 0px;
}


.roundedWhiteButton {
    background-color: white;
    color: #0C2340;
}

.roundedGreenButton {
    background-image: radial-gradient(#B2CD3F, rgba(179,205,65,0.6));
    color: white;
}

.roundedBlueButton {
    background-image: radial-gradient(#00BBD6, rgba(0,184,210,0.2));
    color: white;
}


.tiny-container {
    margin-right: 60px;
    margin-left: 60px;
}

.tinyDivider {
    width: 10vw;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.photoCard {
    max-width: 260px;
    margin: auto;
}

.photoCardImg {
    height: 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoCardTitle {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.photoCardDescription {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.poleMembers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.poleMember {
    min-width: 260px;
}

.poleMembers > div {
    margin: 20px;
}



.alert-danger {
    border: 1px solid rgb(245,198,205);
    background-color: rgb(248,215,218);
    color : rgb(114,28,53);
}

.alert-success {
    border: 1px solid rgb(195,230,203);
    background-color: rgb(212,237,218);
    color : rgb(21,87,36);
}

.alert {
    width: 100%;
    border-radius: 5px;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

/*                                                      NAV                                           */
nav * {
    color : white;
}

nav ul li a {
    color : white;
}

nav {
    background-color: transparent !important;
    height: 64px !important;
    box-shadow: none !important;
    background-color: rebeccapurple;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}


header {
    position: relative;
}


.header-background {
    width: 100%;
}

.header-foreground {
    border-bottom-left-radius: 50% 150px;
    border-bottom-right-radius: 150% 250px;
    -webkit-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.2);
    background-size: cover;
    background-repeat: no-repeat;
    color : white;
    width: 100%;
    padding-bottom: 60px;
    min-height: 200px;
    background-color: transparent;
    top: 0;
}

.brand-logo {
    margin-left: 20px;
}

.navTitle {
    font-weight: 800;
    font-size: 2em;
}

.navDescription {

}

.content {
    margin-top: 50px;
    padding-bottom: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-content {
    width: 100%;
}

.section_nav {
    width: 300px;
    padding: 10px;
    margin-left: 20px;
}
.section_nav a {
    color: #0C2340;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 10px;
    display: inline-block;
}

.section_nav_title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-left: -10px;
    margin-right: -10px;
}

.disable_link {
    opacity: 0.3;
}

[type="checkbox"].reset-checkbox,
[type="checkbox"].reset-checkbox:checked,
[type="checkbox"].reset-checkbox:not(checked) {
    opacity: 1;
    position: relative;
}

[type="checkbox"].reset-checkbox+span::before,
[type="checkbox"].reset-checkbox+span::after,
[type="checkbox"].reset-checkbox:checked+span::before,
[type="checkbox"].reset-checkbox:checked+span::after {
    display: none;
}

[type="checkbox"].reset-checkbox+span:not(.lever) {
    padding-left: 10px;
}

.spacer {
    height: 50px;
}

/*                                                          BAR                                         */


.blockCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.smallCard {
    padding: 0;
    display: flex;
    min-width: 350px;
    width: 47%;
    min-height: 130px;
    margin: 10px auto;
}

.containerTextSmallCard {
    flex:1;
    margin: auto;
    padding: 0 20px;
}

.smallCardImg {
    height:100%;
    width:100px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallCardTitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}

.smallCardSubtitle {
    text-align: center;
    font-weight: 600;
    color: rgb(100,100,100);
}

.smallCardDescription {
    text-align: center;
    margin-top: 10px;
}

/*                                                          EVENTS                                         */

.largeCard {
    padding: 0;
    display: flex;
    width: 100%;
    height: 297px;
}

.containerTextLargeCard {
    flex:1;
    overflow: auto;
    margin: 20px 0;
    padding: 0 20px;
}

.largeCardImg {
    height:297px;
    width:210px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.largeCardTitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 20px;
}

.largeCardSubtitle {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(100,100,100);
}

.largeCardDescription {
    text-align: justify;
    margin-top: 10px;
}



/*                                                          INDEX                                         */

.siteSection {
    width: 200px;
    height: 250px;
    margin: auto;
    position: relative;
}

.siteSectionButton {
    position: absolute;
    bottom : 15px;
    left: 18px;
}

body {
    margin: 0;
    min-height: 100vh;
}

footer {
    clear: both;
    font-size: 0.8em;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer .icons * {
    padding: 10px;
}

.headerButton {
    margin-right: 40px;
}


/*                                                          BDS                                          */

.cardTable {
    margin: auto;
    display: inline-block;
    padding: 20px;
}
.cardTable tr {
    /*border: none;*/
}
.cardTable td {
    width: auto;
}

.planningCard {
    width: 70vw;
    margin: auto;
}
.planningCard tr {
    border-bottom: none;
}

.planningTable {
    padding: 0px;
    width: 70vw;
    overflow: auto;
    margin: auto;
    padding-bottom: 40px;
}

.planningTable table {
    table-layout:fixed;
}

.planningTable td {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.planningTable .firstTd {
    /*border-right: 1px solid rgba(0,0,0,0.2) !important;*/
    padding-left: 10px;
    padding-right: 10px;
    width: 80px !important;
}

.planningTable th {
    width: 150px !important;
    height: 70px;
}

.planningTable .innerTr {
    border: none;
}

.planningTable .sportReservation {
    color: white;
    border-radius: 35px;
    background-color: #159BD7;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.sportReservationSportName {
    font-weight: 600;
    font-size: 1em;
}

.sportReservationTime {
    font-weight: 400;
    font-size: 0.9em;
}

.bdsDescription {
    text-align: justify;
}





/*                                                          LOGIN                                          */


body .loginContainer {
    overflow: hidden;
    height: 100vh;
}


.loginBackgroundImage {
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.loginFormContainer {
    background-color: white;
    height: 100vh;
    position: relative;
}

.loginForms {
    margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    margin-bottom: -50px;
}

.loginFormContainer .footer {
    position: absolute;
    bottom: 0;
}

.loginContainer .logoImt {
    margin: auto;
    display: block;
}
.loginContainer .title {
    font-weight: 800;
    font-size: 1.4em;
    color: #0C2340;
}

.loginContainer .textField {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #0C2340;
    border: none;
    border-radius: 5px;
    color: white;
}

.form {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 500px ;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*                                                          FORMS                                          */

.textField {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.05);
    box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.05);
}
.textField::placeholder {
    color: black;
    opacity: 0.4;
}
.textArea {
    min-height: 100px;
}

.buttonContactForm {
    max-width: 400px;
    margin: 20px auto auto;
}

.tag {
    border: none;
    margin: 5px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    min-width:100px;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 993px) {
    .planningTable {
        width: 100% !important;
    }

    .tiny-container {
        margin-right: 15px;
        margin-left: 15px;
    }
}