/*                                                    COMMON                                        */

html, body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    position: relative;
}

.padding-10 {
    padding-top: 10px;
}
.padding-20 {
    padding-top: 20px;
}
.padding-30 {
    padding-top: 30px;
}
.padding-40 {
    padding-top: 40px;
}

.margin-10 {
    margin-top: 10px;
}
.margin-20 {
    margin-top: 20px;
}
.margin-30 {
    margin-top: 30px;
}
.margin-40 {
    margin-top: 40px;
}
.margin-60 {
    margin-top: 60px;
}

.title {
    font-weight: 800;
    text-align: center;
    font-size: 1.3em;
}
.subtitle {
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
}

.cardContainer {
    display: inline-block;
    background-color: white;
    position: relative;
    border-radius: 10px;
    min-height: 100px;
    color: #0C2340;
    min-width: 100px;
    -webkit-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.1);
    box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.1);
}

.roundedGreenButton, .roundedBlueButton, .roundedWhiteButton {
    display: inline-block;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 45px !important;
    min-width: 150px !important;
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
}
.roundedGreenButton:hover, .roundedBlueButton:hover, .roundedWhiteButton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.roundedWhiteButton {
    background-color: white;
    color: #0C2340;
}

.roundedGreenButton {
    background-image: radial-gradient(#B2CD3F, rgba(179,205,65,0.6));
    color: white;
}

.roundedBlueButton {
    background-image: radial-gradient(#00BBD6, rgba(0,184,210,0.2));
    color: white;
}

.section-content {
    margin-top: 50px;
    margin-left: 320px;
}

.tinyDivider {
    width: 10vw;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.photoCard {
    width: 260px;
    margin: auto;
}

.photoCardImg {
    height: 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoCardTitle {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.photoCardDescription {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*                                                      NAV                                           */
nav * {
    color : white;
}

nav ul li a {
    color : white;
}

nav {
    background-color: transparent !important;
    height: 64px !important;
    box-shadow: none !important;
    background-color: rebeccapurple;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}


header {
    position: relative;
}

.content {
}


.header-background {
    width: 100%;
}

.header-foreground {
    border-bottom-left-radius: 50% 150px;
    border-bottom-right-radius: 150% 250px;
    -webkit-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 0px 45px 0 rgba(0,0,0,0.2);
    background-size: cover;
    background-repeat: no-repeat;
    color : white;
    width: 100%;
    padding-bottom: 60px;
    min-height: 200px;
    background-color: transparent;
    top: 0;
}

.brand-logo {
    margin-left: 20px;
}

.navTitle {
    font-weight: 800;
    font-size: 2em;
}

.navDescription {

}

.section_nav {
    position: absolute;
    margin-left: 40px;
    width: 250px;
    padding: 10px;
}
.section_nav a {
    color: #0C2340;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 10px;
    display: inline-block;
}

.section_nav_title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-left: -10px;
    margin-right: -10px;
}

/*                                                          INDEX                                         */

.siteSection {
    width: 200px;
    min-height: 230px;
}


body {
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100vh;
}

footer {

    clear: both;
    font-size: 0.8em;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer .icons *{
    padding: 10px;
}

.headerButton {
    margin-right: 40px;
}

/*                                                          INDEX                                         */

.planningTable table {
    table-layout:fixed;
}

.planningTable td {
    height: 50px;
}

.planningTable .firstTd {
    border-right: 1px solid rgba(0,0,0,0.2) !important;
}

.planningTable th {
    width: 5vw !important;
    height: 70px;
}

.planningTable .innerTr {
    border: none;
}

.planningTable .sportReservation {
    color: white;
    border-radius: 35px;
    background-color: #159BD7;
    padding: 5px;
}

.sportReservationSportName {
    font-weight: 600;
    font-size: 1em;
}

.sportReservationTime {
    font-weight: 400;
    font-size: 0.9em;
}