{% extends 'base.html.twig' %}

{% block title %}IMT Nantes Campus - Accueil{% endblock %}

{% block body %}
    <div>{% trans %}Les différentes sections présentes sur le site{% endtrans %}</div>
{% endblock %}
