{% extends 'base.html.twig' %}

{% block title %}IMT Nantes Campus - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="title margin-20">{% trans %}Les différentes sections présentes sur le site{% endtrans %}</div>

        <div class="row margin-40">
            <div class="col s12 m6 l3 center margin-10">
                <div class="cardContainer siteSection" data-aos="fade-right">
                    <div class="title padding-20">Le BDE</div>
                    <div class="margin-20">
                        Informations, boutique,<br />
                        Intégration, réservation<br />
                        des salles MDE etc.<br />
                    </div>
                    <div class="roundedGreenButton center margin-20">{{ 'index.consult_page' | trans }}</div>
                    <div class="margin-20"></div>
                </div>
            </div>
            <div class="col s12 m6 l3 center margin-10">
                <div class="cardContainer siteSection"  data-aos="fade-up">
                    <div class="title padding-20">Le BDA</div>
                    <div class="margin-20">
                        Informations, boutique,<br />
                        Intégration, réservation<br />
                        des salles MDE etc.<br />
                    </div>
                    <div class="roundedBlueButton center margin-20">{{ 'index.consult_page' | trans }}</div>
                    <div class="margin-20"></div>
                </div>
            </div>
            <div class="col s12 m6 l3 center margin-10">
                <div class="cardContainer siteSection"  data-aos="fade-up">
                    <div class="title padding-20">Le BDS</div>
                    <div class="margin-20">
                        Informations, boutique,<br />
                        Intégration, réservation<br />
                        des salles MDE etc.<br />
                    </div>
                    <div class="roundedGreenButton center margin-20">{{ 'index.consult_page' | trans }}</div>
                    <div class="margin-20"></div>
                </div>
            </div>
            <div class="col s12 m6 l3 center margin-10">
                <div class="cardContainer siteSection"  data-aos="fade-left">
                    <div class="title padding-20">La JE</div>
                    <div class="margin-20">
                        Informations, boutique,<br />
                        Intégration, réservation<br />
                        des salles MDE etc.<br />
                    </div>
                    <div class="roundedBlueButton center margin-20">{{ 'index.consult_page' | trans }}</div>
                    <div class="margin-20"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
