{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block header %}
<div class="navTitle margin-30"> Le Campus de Nantes </div>
{% endblock %}

{% block content %}


{% endblock %}


