{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block header %}
    <div class="navTitle margin-30"> Contactez-nous ! </div>
{% endblock %}

{% block content %}

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}

        {{ form(form) }}
    </div>


{% endblock %}
