{% extends 'base.html.twig' %}

{% block title %}BDS{% endblock %}

{% block header %}
    <div class="navTitle margin-30">{{ 'bds.bds_title' | trans | nl2br }}<br /></div>
    <div class="navDescription margin-30">{{ 'bds.bds_description' | trans| nl2br }}</div>
{% endblock %}

{% block content %}
    {{ block('bds_nav','bds/bds_nav.html.twig') }}
    <div class="section-content"  data-aos="fade-up">

        <div class="tinyDivider"></div>
        <div class="title">{{ 'bds.nav.information' | trans }}</div>
        <div class="margin-40"></div>
        <div class="container">
            <p class="bdsDescription">
                Le BDS, ou Bureau des Sports est l’Association Sportive de l’école. L’équipe est composée de 18 élèves, et a pour mission de gérer toute la pratique de sports extrascolaires, comme l’organisation des entraînements, du voyage au ski, ou la participation aux différents championnats et tournois.
                L’événement sportif phare de l’année sur le campus d’IMT Atlantique est l’Everest Race, course à obstacles caritative organisée par un petit groupe d’élèves de l’école, dans le cadre d’un projet associatif de première année. Elle a pour but de récolter des fonds (3745€ l’année dernière) pour
                l’association A chacun son Everest, qui fait voyager les enfants atteints de leucémie ou cancer. Cette course se déroulera cette année le 20 octobre, et aura 10 obstacles allant de la forêt de cordes au tir à la carabine.
             </p>
        <div class="tinyDivider"></div>
        </div>
    </div>
{% endblock %}
